/* #############
   ## CREDITS ##
   #############
   Kokabiel, October 21*/

window.bar {
    background-color: rgba(0, 0, 0, 0.382);
    color: rgb(255, 255, 255);
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

.workspaces button.enabled {
    border: 1px solid rgb(255, 0, 238);
    font-weight: bold;
}

.workspaces button {
    font-weight: bold;
    color: rgb(0, 247, 255);
}

button:active {
    border: 1px solid red;
}

button:hover {
    border-bottom: 1px solid rgb(255, 0, 238);
}

label {
    font-weight: bold;
}

.client-title {
    color: rgba(255, 0, 0, 0.518)
}

.notification {
    color: yellow;
}

levelbar block, 
highlight {
    min-height: 10px;
}